In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [5]:
df = pd.read_excel('Twoway.xlsx')
df

    Value  prep_pro         college
0     500  three_hr        Business
1     580  three_hr        Business
2     540  three_hr     Engineering
3     460  three_hr     Engineering
4     480  three_hr  Artsandscience
5     400  three_hr  Artsandscience
6     460   One-day        Business
7     540   One-day        Business
8     560   One-day     Engineering
9     620   One-day     Engineering
10    420   One-day  Artsandscience
11    480   One-day  Artsandscience
12    560   10-Week        Business
13    600   10-Week        Business
14    600   10-Week     Engineering
15    580   10-Week     Engineering
16    480   10-Week  Artsandscience
17    410   10-Week  Artsandscience

In [11]:
formula = 'Value ~C(college)+C(prep_pro)+C(college):C(prep_pro)'
#                  Factor B, Factor A, Interaction
model = ols(formula, df).fit()
anova_table = sm.stats.anova_lm(model, type =2)
anova_table

                         df   sum_sq       mean_sq          F    PR(>F)
C(college)              2.0  45300.0  22650.000000  10.269521  0.004757
C(prep_pro)             2.0   6100.0   3050.000000   1.382872  0.299436
C(college):C(prep_pro)  4.0  11200.0   2800.000000   1.269521  0.350328
Residual                9.0  19850.0   2205.555556        NaN       NaN

In [ ]:
# we accept H0 for indifference in effect caused by preparation program and interaction
# we reject H0 for indifference in effect caused by college
# college background has effect on results 
# here the college is significant effect.